<div class="row activity-item">
  <div class="col-md-12">
    <i class="fa fa-building-o"></i>
    <%= company.name %> was created by
    <%= company.created_by.full_name %>
    on <%= company.created_at.strftime('%-m/%-d/%Y') %>
  </div>
</div>
